.container {
    position: relative;
    width: 100%;
    height: auto;
    padding: 20px;
    margin-top: 70px;
}

.cubeContainer {
    width: 200px;
    height: 200px;
    position: absolute;
    top: 150px;
    left: calc(50% - 100px);
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
}

.cubeWrap {
    width: 100px;
    height: 100px;
    perspective: 800px;
    position: relative;
}

.cube {
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    animation: spin 5s linear infinite;
    transform: rotateX(-20deg);
}

.label {
    color: #00f7ff;
    font-weight: bold;
    animation: glow 1s ease-in-out infinite alternate;
}

.face {
    position: absolute;
    border: 2px solid #00f7ff;
    width: 100px;
    height: 100px;
    border-radius: 10px;
    background: rgba(0, 247, 255, .15);
}

.face.front {transform: translateZ(50px);}
.face.back {transform: rotateY(180deg) translateZ(50px);}
.face.right {transform: rotateY(90deg) translateZ(50px);}
.face.left {transform: rotateY(-90deg) translateZ(50px);}
.face.top {transform: rotateX(90deg) translateZ(50px);}
.face.bottom {transform: rotateX(-90deg) translateZ(50px);}

.progressBar {
    height: 4px;
    width: 100%;
    background: #00f7ff;
    box-shadow: 0 0 5px #00f7ff, 0 0 10px #00f7ff, 0 0 20px #00f7ff;
    animation:
        fillProgress 25s linear forwards,
        glowPulse 1.5s ease-in-out infinite alternate;
    transform-origin: left; /* Ensures it expands from the left side */
    transform: scaleX(0);
}

@keyframes fillProgress {
    0% { transform: scaleX(0); }
    100% { transform: scaleX(1); }
}

@keyframes glowPulse {
    0% {
        box-shadow: 0 0 5px #00f7ff, 0 0 10px #00f7ff, 0 0 15px #00f7ff;
    }
    100% {
        box-shadow: 0 0 60px #00f7ff, 0 0 70px #00f7ff, 0 0 80px #00f7ff;
    }
}

@keyframes spin {
    0% { transform: rotateX(-20deg) rotateY(0deg); }
    100% { transform: rotateX(-20deg) rotateY(360deg); }
}

@keyframes glow {
    0% {
        text-shadow:
          0 0 5px #00f7ff,
          0 0 10px #00f7ff,
          0 0 15px #00f7ff;
    }
    100% {
        text-shadow:
          0 0 60px #00f7ff,
          0 0 70px #00f7ff,
          0 0 80px #00f7ff;
    }
}
